img {
  height: 220px;
  border-radius: 50%;
}
h3 {
  font-size: 27px;
}
p {
  font-weight: 100;
  color: gray;
}

h2 {
  font-size: 30px;
}

ul {
  margin-left: -40px;
  display: flex;
}

ul li {
  list-style: none;
  margin: 10px;
  border: none;
  padding: 5px;
  background-color: rgb(3, 202, 202);
  color: #fff;
  border-radius: 5px;
}
